{% extends "MainBundle::layout_main.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/main/css/demo.css') }}" />
{% endblock %}

    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('miners') }}">Miners</a></li>
                <li><a href="{{ path('pools') }}">Pools</a></li>
                <li><a href="{{ path('devices') }}">Devices</a></li>
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

{% endblock %}
