
<div class="miner-block">
    <div class="top-strip">
        <div class="miner-name">{{ miner.name }}</div>
        <div class="control-btn" onclick="show_miner_controls({{ miner.id }})">
        </div>
        <div class="clear"></div>
        <div id="miner-controls-{{ miner.id }}" class="miner-controls">
            <ul>
              <li>MINER CONTROLS</li>
              <li>
                <ul>
                    <li>RESTART X SERVER</li>
                    <li>RESTART MACHINE</li>
                    <li>RESTART CGMINER</li>
                    <li>SHUTDOWN MACHINE</li>
                </ul>
              </li>
              <li>POWER TUNE MINER</li>
              <li>EXPERT POWER TUNE</li>
              <li>CONFIGURE MINER</li>
            </ul>
        </div>
    </div>
    
    <!--h1>{{ "Miner " ~ miner.name }}</h1>
    <table class="item-list">
        <tr>
            <td>{{ miner.name }}</td>
            <td>{{ miner.ip }}</td>
            <td>{{ miner.port }}</td>
            <td>{{ miner.alert }}</td>
            <td>{{ miner.mac }}</td>
            <td>{{ miner.poolLogin }}</td>
            <td>{{ miner.poolPass }}</td>
            <td>{{ miner.poolId }}</td>
            <td>{{ miner.isLocal }}</td>
            <td>
            <ul>
                <li>
                    <a href="{{ path('miner_read', { 'id': miner.id }) }}">show</a>
                </li>
                <li>
                    <a href="{{ path('miner_update', { 'id': miner.id }) }}">edit</a>
                </li>
            </ul>
            </td>
        </tr>
    </table-->
    
</div>
